<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="rozum75_ros2_control" params="name prefix use_mock_hardware:=false mock_sensor_commands:=false">

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${use_mock_hardware}">
                    <!-- Mock hardware -->
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="mock_sensor_commands">${mock_sensor_commands}</param>
                    <param name="state_following_offset">0.0</param>
                </xacro:if>
                <xacro:unless value="${use_mock_hardware}">
                    <!-- Real hardware -->
                    <plugin>rozum_pulse_75_hardware/RozumSystemHardware</plugin>
                    <param name="base_url">10.10.10.20</param>
                    <param name="command_interface">position</param>
                    <param name="joints_order">joint1,joint2,joint3,joint4,joint5,joint6</param>
                    <param name="write_speed_percent">20</param>
                    <param name="write_motion_type">JOINT</param>
                    <param name="use_pose_endpoint">true</param>
                </xacro:unless>
            </hardware>
            
            <!-- Joint interfaces -->
            <joint name="joint1"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
            <joint name="joint2"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
            <joint name="joint3"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
            <joint name="joint4"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
            <joint name="joint5"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
            <joint name="joint6"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>

        </ros2_control>
    </xacro:macro>

</robot>

