<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rozum_pulse_75">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rozum_pulse_75 urdf file -->
    <xacro:include filename="$(find rozum_pulse_75)/urdf/rozum_pulse_75.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="rozum_pulse_75.ros2_control.xacro" />


    <xacro:rozum_pulse_75_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
